
        /* NUSH: SHELL STYLES */

body {
    margin: 0;
    font-size: 12px;
    background-image: url('/static/bg.png');
    }

a { color: #0F0 }

a:active, banner_button { color: #555 }

a:hover, banner_button {
    color: #44B4CC;
    cursor: pointer;
    }

input {
    color: white;
    font-family: monospace;
    border: none;
    background: transparent;
    margin: 0;
    }

input:focus { outline: 0 }

::-webkit-scrollbar { display: none }

video, iframe, img {
    border: 1px solid #292929;
    border-top: 1px solid #3A3A3A;
    }

video, img { box-shadow: 0 8px 32px -4px black }

iframe {
    width: 100%;
    box-shadow: 0 8px 16px -4px black;
    }

.stdout {
    margin-bottom: 16px;
    display: block;
    }

.stdout xmp { padding-top: 4px }

.feed {
    font-family: monospace;
    border-top: 1px solid #292929;
    border-bottom: 1px solid black;
    word-wrap: break-word;
    padding: 4px; }

.padded_feed { padding: 16px 7px 16px 7px}

.banner_button {
    color: #999;
    text-decoration: none;
    }

.kill_button { cursor: pointer }

.white  { color: #FFF }
.grey   { color: #999 }
.dull   { color: #555 }
.red    { color: #F00 }
.pink   { color: hotpink }
.orange { color: #FF6600 }
.yellow { color: #FFCC00 }
.green  { color: #66FF00 }
.cyan   { color: #0FF }
.blue   { color: #88F }
.teal   { color: #44B4CC }
.pea    { color: #88DD88 }

#spacer {
    padding: 8px;
    border-top: 1px solid #292929;
    }

#editor { background: transparent }

#feeds {
    color: #EFE;
    font-size: 12px;
    line-height: 16px;
    font-family: monospace;
    width: 100%;
    }

#footer {
    color: #555;
    font-family: monospace;
    padding: 16px 4px 0 4px;
    }

#clock { float: right }

/*  semantish elements experiment
    -----------------------------
    the hi element is documented. the rest are
    internal and can [probably will] be changed.
    */

hi   { color: #FFCC00 }
norm { color: #FFFFFF }
lite { color: #999999 }
dull { color: #555555 }
cute { color: hotpink }
good { color: #66FF00 }
bad  { color: #FF0000 }
meh  { color: #44B4CC }
yell { color: #FF6600 }

file         { color: #999999 }
directory    { color: #FF6600 } 
python_file  { color: #FFCC00 }
readme_file  { color: #FFFFFF }
archive_file { color: #FF0000 }
web_file     { color: #66FF00 }
media_file   { color: #44B4CC }
hidden_file  { color: #555555 }