

        /* NUSH 0.1 SHELL
        This is Free Software (GPL) */


body { margin: 0; background: black }

a { color: #0F0 }
a:hover, banner_button { color: #44B4CC; cursor: pointer }
a:active, banner_button { color: #555 }


.feed { border-top: 1px solid #333; word-wrap: break-word; padding: 4px }
.padded_feed { padding: 7px 11px 7px 7px }
.banner_button { color: #999; text-decoration: none; }
.kill_button { cursor: pointer }

/* these classes are all being replaced with semantic elements...
*/
.white          { color: #FFF }
.grey           { color: #999 }
.dull           { color: #555 }
.red,       bad { color: #F00 }         /* negative meassages */
.pink,     pink { color: hotpink }      /* stuff that's pink */
.orange         { color: #FF6600 }
.yellow,     hi { color: #FFCC00 }      /* highlighted text */
.green,    good { color: #66FF00 }      /* positive messages */
.cyan           { color: #0FF }
.blue           { color: #88F }
.teal           { color: #44B4CC }
.pea,       meh { color: #99CC99 }      /* non-critical errors and warnings */

#editor { background: black; margin: 16px 0 4px 0}

#feeds {
    color: #EFE;
    background: black;
    font-size: 12px;
    line-height: 16px;
    font-family: monospace;
    width: 100%;
    }

#clock {
    color: #555;
    font-family: monospace;
    text-align: right;
    padding: 12px;
    }